body {
  background: $body-bg;
  font-family: Lato;
  font-weight: 300;
}

.form-group,
.form-inline {
  position: relative;
}

.text-blue {
  color: #3BA1F8 !important;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}


.input-group {
  input.form-control {
    height: 38px;
  }
}