.l-header {
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .5);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .5);
  box-shadow: 0 1px 4px rgba(0, 0, 0, .5);
}

.l-header-top {
  height: 26px;
  background-color: $r_brand-primary-dark;
  font-family: 'Gram', sans-serif;
  font-weight: 300;
  letter-spacing: .12em;
}

.l-header-bottom {
  min-height: 54px;
  padding-top: 8px;
  background-color: $navbar-default-brand-hover-bg-color;
  font-family: Lato;
  position: relative;
  &.current-active-page {
    background-color: $r_brand-primary;
  }
}

.l-main-content {
  background-color: #FFFFFF;
  border: 1px #D9D9D9 solid;
  border-radius: 3px;
}

.l-footer {
  text-align: center;
  font-size: 12px;
}