@font-face {
  font-family: 'revicon';
  src:    url('../fonts/revicon/icomoon.eot?us6msn');
  src:    url('../fonts/revicon/icomoon.eot?us6msn#iefix') format('embedded-opentype'),
  url('../fonts/revicon/icomoon.ttf?us6msn') format('truetype'),
  url('../fonts/revicon/icomoon.woff?us6msn') format('woff'),
  url('../fonts/reviconicomoon.svg?us6msn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="revicon-"], [class*=" revicon-"] {
  font-family: 'revicon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.revicon-fa-file-csv:before {
  content: "\e900";
}
.revicon-sentiment-analysis:before {
  content: "\e901";
}
.revicon-trends-comparison:before {
  content: "\e902";
}
.revicon-compass-2:before {
  content: "\e60c";
}
.revicon-task-checklist:before {
  content: "\e60f";
}
.revicon-phone-book-2:before {
  content: "\e610";
}
.revicon-smartphone-iphone:before {
  content: "\e611";
}
.revicon-help-circle:before {
  content: "\e612";
}
.revicon-email-send-1:before {
  content: "\e613";
}
.revicon-speed-gauge:before {
  content: "\e614";
}
.revicon-cog:before {
  content: "\e615";
}
.revicon-request-center:before {
  content: "\e616";
}
.revicon-revinate-logo:before {
  content: "\e617";
}
.revicon-dropdown:before {
  content: "\e618";
}
.revicon-DblText:before {
  content: "\e60d";
}
.revicon-Social:before {
  content: "\e60e";
}
.revicon-BulletedList:before {
  content: "\e600";
}
.revicon-ButtonImageIcon:before {
  content: "\e601";
}
.revicon-ButtonIcon:before {
  content: "\e602";
}
.revicon-DblContentIcon:before {
  content: "\e603";
}
.revicon-DeleteIcon .path1:before {
  content: "\e604";
  color: rgb(233, 99, 81);
}
.revicon-DeleteIcon .path2:before {
  content: "\e605";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.revicon-DividerIcon:before {
  content: "\e606";
}
.revicon-ImageButtonIcon:before {
  content: "\e607";
}
.revicon-ImageIcon:before {
  content: "\e608";
}
.revicon-SaveEmailTemplateIcon:before {
  content: "\e609";
}
.revicon-SendTestEmailIcon:before {
  content: "\e60a";
}
.revicon-TextIcon:before {
  content: "\e60b";
}
