@font-face {
  font-family: 'revicon';
  src: url('/fonts/revicon/icomoon.eot?w7wkxb');
  src: url('/fonts/revicon/icomoon.eot?#iefixw7wkxb') format('embedded-opentype'),
  url('/fonts/revicon/icomoon.ttf?w7wkxb') format('truetype'),
  url('/fonts/revicon/icomoon.woff?w7wkxb') format('woff'),
  url('/fonts/revicon/icomoon.svg?w7wkxb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="revicon-"], [class*=" revicon-"] {
  font-family: 'revicon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.revicon-dropdown:before {
  content: "\e60a";
}
.revicon-revinate-logo:before {
  content: "\e609";
}
.revicon-compass-2:before {
  content: "\e600";
}
.revicon-task-checklist:before {
  content: "\e601";
}
.revicon-phone-book-2:before {
  content: "\e602";
}
.revicon-smartphone-iphone:before {
  content: "\e603";
}
.revicon-help-circle:before {
  content: "\e604";
}
.revicon-email-send-1:before {
  content: "\e605";
}
.revicon-speed-gauge:before {
  content: "\e606";
}
.revicon-cog:before {
  content: "\e607";
}
.revicon-request-center:before {
  content: "\e608";
}


//.revicon-revinate-logo:before {
//  content: "\e609";
//}
//.revicon-compass-2:before {
//  content: "\e600";
//}
//.revicon-task-checklist:before {
//  content: "\e601";
//}
//.revicon-phone-book-2:before {
//  content: "\e602";
//}
//.revicon-smartphone-iphone:before {
//  content: "\e603";
//}
//.revicon-help-circle:before {
//  content: "\e604";
//}
//.revicon-email-send-1:before {
//  content: "\e605";
//}
//.revicon-speed-gauge:before {
//  content: "\e606";
//}
//.revicon-cog:before {
//  content: "\e607";
//}
//.revicon-request-center:before {
//  content: "\e608";
//}