</div>
</div>
</div>
</div>
</main>
<footer class="l-footer pd-md">
    <i class="revicon-rev-logo-2017"></i>
</footer>
</div>

<script src="{{ site.baseurl }}/libs/jquery/dist/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script src="{{ site.baseurl }}/libs/bootstrap-sass-official/assets/javascripts/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/libs/angular/angular.min.js"></script>
<script src="{{ site.baseurl }}/libs/bootstrap-daterangepicker/moment.js"></script>
<script src="{{ site.baseurl }}/libs/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="{{ site.baseurl }}/libs/bootstrap-daterangepicker/daterangepicker-angular.js"></script>
<script src="{{ site.baseurl }}/libs/angular-strap/dist/angular-strap.min.js"></script>
<script src="{{ site.baseurl }}/libs/angular-strap/dist/angular-strap.tpl.min.js"></script>
<script src="{{ site.baseurl }}/libs/jquery-datatables/js/jquery.dataTables.js"></script>
<script src="{{ site.baseurl }}/libs/angular-datatables/angular-datatables/dist/angular-datatables.min.js"></script>
<script src="{{ site.baseurl }}/libs/angular-datatables/angular-datatables/dist/plugins/bootstrap/angular-datatables.bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/js/angular/styleguide.js"></script>
<script src="{{ site.baseurl }}/js/angular/rev-ng-switch.js"></script>
<script src="{{ site.baseurl }}/js/rev-jq-switch.js"></script>
<script src="{{ site.baseurl }}/libs/bootstrap-toggle/js/bootstrap-toggle.js"></script>
<script src="{{ site.baseurl }}/libs/bootstrap-select/js/bootstrap-select.js"></script>
<script src="{{ site.baseurl }}/libs/nya-bootstrap-select/dist/js/nya-bs-select.js"></script>
<script src="https://cdn.rawgit.com/styledown/styledown/v1.0.2/data/styledown.js"></script>
<script src="{{ site.baseurl }}/js/main.js"></script>

<script type="text/javascript" src="/js/bundle.js"></script>

</body>
</html>