// margin
.mg-xs { margin: 5px; }
.mg-sm { margin: 10px; }
.mg-md { margin: 15px; }
.mg-lg { margin: 20px; }
.mg-xl { margin: 25px; }

// margin left
.mg-l-xs { margin-left: 5px; }
.mg-l-sm { margin-left: 10px; }
.mg-l-md { margin-left: 15px; }
.mg-l-lg { margin-left: 20px; }
.mg-l-xl { margin-left: 25px; }

// margin right
.mg-r-xs { margin-right: 5px; }
.mg-r-sm { margin-right: 10px; }
.mg-r-md { margin-right: 15px; }
.mg-r-lg { margin-right: 20px; }
.mg-r-xl { margin-right: 25px; }

// margin top
.mg-t-xs { margin-top: 5px; }
.mg-t-sm { margin-top: 10px; }
.mg-t-md { margin-top: 15px; }
.mg-t-lg { margin-top: 20px; }
.mg-t-xl { margin-top: 25px; }

// margin-bottom
.mg-b-xs { margin-bottom: 5px; }
.mg-b-sm { margin-bottom: 10px; }
.mg-b-md { margin-bottom: 15px; }
.mg-b-lg { margin-bottom: 20px; }
.mg-b-xl { margin-bottom: 25px; }

// padding
.pd-xs { padding: 5px; }
.pd-sm { padding: 10px; }
.pd-md { padding: 15px; }
.pd-lg { padding: 20px; }
.pd-xl { padding: 25px; }

// padding left
.pd-l-xs { padding-left: 5px; }
.pd-l-sm { padding-left: 10px; }
.pd-l-md { padding-left: 15px; }
.pd-l-lg { padding-left: 20px; }
.pd-l-xl { padding-left: 25px; }

// padding right
.pd-r-xs { padding-right: 5px; }
.pd-r-sm { padding-right: 10px; }
.pd-r-md { padding-right: 15px; }
.pd-r-lg { padding-right: 20px; }
.pd-r-xl { padding-right: 25px; }

// padding top
.pd-t-xs { padding-top: 5px; }
.pd-t-sm { padding-top: 10px; }
.pd-t-md { padding-top: 15px; }
.pd-t-lg { padding-top: 20px; }
.pd-t-xl { padding-top: 25px; }

// padding-bottom
.pd-b-xs { padding-bottom: 5px; }
.pd-b-sm { padding-bottom: 10px; }
.pd-b-md { padding-bottom: 15px; }
.pd-b-lg { padding-bottom: 20px; }
.pd-b-xl { padding-bottom: 25px; }