/* .logo-sprite is extended by .logo */
.primary-menu.nav.nav-tabs .logo-sprite {
  background-image: url('../img/primary-menu-logo.png');
}

@media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  /* .logo-sprite is extended by .logo */
  .primary-menu.nav.nav-tabs .logo-sprite {
    background-image: url('../img/primary-menu-logo-retina.png');
    background-size: 85px 13px;
  }
}

.primary-menu.nav.nav-tabs .logo {
  @extend .logo-sprite;
  width: 85px;
  height: 13px;
  background-position: 0 0;
  background-color: transparent;
  text-indent: -1000px;
  overflow: hidden;
  margin: 5px 20px 0 0;
}

.primary-menu.nav.nav-tabs {
  font-size: 11px;
  text-transform: uppercase;
  border-bottom: none;
}

.primary-menu.nav.nav-tabs > li {
  margin-bottom: 0;
  &:focus {
    outline: none;
  }
}

.primary-menu.nav.nav-tabs > li > a {
  margin-right: 0;
  height: 26px;
  line-height: 28px;
  color: $r_brand-primary-light;
  border: none;
  border-radius: 0;
  padding: 0 20px;
  &:active,
  &:focus {
    color: $r_brand-primary-light;
    background-color: transparent;
  }
  &:hover {
    color: #FFFFFF;
    background-color: $brand-primary;
  }
  &.primary-menu-item-icon {
    font-size: 1.8em;
  }
  &.primary-menu-item-bordered {
    border-left: 1px $brand-primary solid;
    padding: 0 10px;
    &:hover,
    &:active,
    &:focus {
      background-color: $r_brand-primary-dark;
    }
  }
  &.logo {
    &:hover,
    &:focus {
      color: transparent;
      background-color: transparent;
    }
  }
}

.primary-menu.nav.nav-tabs > li.open > a,
.primary-menu.nav.nav-tabs > li.open > a:hover,
.primary-menu.nav.nav-tabs > li.open > a:focus,
.primary-menu.nav.nav-tabs > li.open > a:active {
  color: #ffffff;
  background-color: transparent;
}

.primary-menu.nav.nav-tabs > li.active > a,
.primary-menu.nav.nav-tabs > li.active > a:hover,
.primary-menu.nav.nav-tabs > li.active > a:focus,
.primary-menu.nav.nav-tabs > li.active > a:active {
  color: #FFFFFF;
  background-color: $brand-primary;
  border: none;
  &.logo {
    background-color: transparent;
  }
}

.primary-menu.nav.nav-tabs .dropdown-menu {
  background-color: $r_brand-primary-dark;
  margin-top: 1px;
  font-size: 12px;
  border: none;
  min-width: 100%;
  padding: 0;
  > li > a {
    padding: 6px 10px 3px;
    border-bottom: $brand-primary 1px solid;
    color: $r_brand-primary-light;
    &:hover {
      color: #ffffff;
      background-color: $r_brand-primary-dark;
    }
  }
  > li:last-child a {
    border-bottom: none;
  }
}




































