.datepicker.dropdown-menu,
.timepicker.dropdown-menu {
  .btn {
    padding: 5px;
    background: transparent;
    border: none;
    @extend .FontLatoBold;
    &.btn-default,
    &.btn-primary,
    &.btn-info,
    &.btn-today {
      border: none;
    }
    .text-muted {
      color: #999;
      @extend .FontLatoLight;
    }
    &:hover {
      background: #EBF5FE;
      color: #3BA1F8;
      .text-muted {
        color: #3BA1F8;
      }
    }
  }
  .btn-today {
    color: #333;
  }
  .btn-primary {
    color: #28A68A;
    background: #DBF0EB;
  }
}