ul.pagination.unified {
  li a {
    border: none;
    background: none;
    font-family: LatoBold;
    font-size: 16px;
    padding: 0 11px;
    span>i {
      font-weight: bold;
      font-size: 14px;
    }
  }
  li span {
    border: none;
    background: none;
    font-family: LatoBold;
    font-size: 16px;
    padding: 0 11px;
    &:hover {
      cursor: default;
    }
  }
  >.active {
    a {
      color: black;
    }
    &:hover {
      a {
        background: none;
        color: black;
      }
    }
  }
}
ul.pagination:not(.unified)>li>a,
ul.pagination:not(.unified)>li>span {
  position: relative;
  float: left;
  font-size: 30px;
  padding: 0 12px 5px;
  line-height: 1.42857;
  text-decoration: none;
  color: #3BA1F8;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-left: -1px;
}