.rev-switch {
  background: #fff;
  border: 1px solid #dfdfdf;
  position: relative;
  display: inline-block;
  box-sizing: content-box;
  overflow: visible;
  width: 60px;
  height: 30px;
  padding: 0px;
  margin: 0px;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: rgb(223, 223, 223) 0px 0px 0px 0px inset;
  transition: 0.3s ease-out all;
  -webkit-transition: 0.3s ease-out all;
  top: -1px;
  vertical-align: middle;
}
/*adding a wide width for larger switch text*/
.rev-switch.wide {
  width:90px;
}
.rev-switch small {
  background: #fff;
  border-radius: 100%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.4);
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0px;
  left: 0px;
  transition: 0.3s ease-out all;
  -webkit-transition: 0.3s ease-out all;
}
.rev-switch.checked {
  background: $gray-light;
  border-color: $gray-light;
}
.rev-switch.checked.success {
  background: $brand-success;
  border-color: $brand-success;
}
.rev-switch.checked.primary {
  background: $brand-primary;
  border-color: $brand-primary;
}
.rev-switch.checked.danger {
  background: $brand-danger;
  border-color: $brand-danger;
}
.rev-switch.checked small {
  left: 30px;
}
/*wider switch text moves small further to the right*/
.rev-switch.wide.checked small {
  left: 60px;
}
/*styles for switch-text*/
.rev-switch .rev-switch-text {
  font-family:Arial, Helvetica, sans-serif;
  font-size:13px;
}

.rev-switch .off {
  display:block;
  position: absolute;
  right: 10%;
  top: 23%;
  z-index: 0;
  color:#A9A9A9;
}

.rev-switch .on {
  display:none;
   z-index: 0;
  color:#fff;
  position: absolute;
  top: 23%;
  left: 9%;
}

.rev-switch.checked .off {
  display:none;
}

.rev-switch.checked .on {
  display:block;

}

.rev-switch.disabled {
  opacity: .50;
  cursor: not-allowed;
}

.checkbox.checkbox-rev-switch label {
  padding-left: 0;
}

.switch-xs {
  .rev-switch {
    height: 20px;
    width: 40px;
    small {
      height: 20px;
      width: 20px;
    }
    &.checked {
      small {
        left: 20px;
      }
    }
    .rev-switch-text {
      font-size: 12px;
      line-height: 1;
    }
  }
}
