.l-app {
  min-height: 100%;
  position: relative;
}
.l-main {
  padding-bottom: 170px;
}
.l-header {
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .5);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .5);
  box-shadow: 0 1px 4px rgba(0, 0, 0, .5);
  position: relative;
  @media (max-width: 768px) {
    .container {
      width: auto;
    }
  }
}

.l-header-top {
  height: 40px;
  background-color: $r_brand-primary;
  font-family: 'Lato', sans-serif;
  letter-spacing: normal;
  @media (min-width: $screen-sm-min) {
    height: 40px;
  }
}

.l-header-bottom {
  min-height: 50px;
  padding-top: 8px;
  background-color: $white-base;
  font-family: 'Lato', sans-serif;
  position: relative;
  @media screen and (max-width: 1024px) {
    padding-top: 8px;
  }
}

.l-main-content {
  // background-color: transparent;
  // border: 1px #D9D9D9 solid;
  // border-radius: 3px;
  position: relative;
  @media (max-width: $screen-sm-min) {
    margin-top: 15px !important;
  }
  &.login-page {
    background-color: transparent;
    border: none;
  }
}

.l-footer {
  text-align: center;
  font-size: 12px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
body.l-no-navigation-page {
  background-color: #f3f3f4;
  .l-main {
    padding-bottom: 100px;
    .container.fixed-nav-padding {
      padding-top: 0;
    }
  }
}
.center-col {
  float: none;
  margin-left: auto;
  margin-right: auto;
}
// adding this to hide jquery UI datepicker div from the footer.  Can't remove it from the code b/c it is being used by legacy layout
#ui-datepicker-div.ui-datepicker {
  display: none;
}

.container.fixed-nav-padding, .container-fluid.fixed-nav-padding {
  padding-top: 65px;
  @media (max-width: 1024px) {
    padding-top: 100px;
  }
  //width: 100% !important;
}

/* Override .container {width: auto} R/S survey.css line 945 */
@media (min-width: 1270px) {
  .container {
    width: 1270px !important;
  }
}

// override padding-medium on global content wrapper
.uni-global-content-wrapper.pd-md {
  padding: 0;
}
.pd-md.header-wrapper-uni {
  padding: 15px 0;
}

/*
  Angular ngCloak directive is used to prevent the Angular html template from being briefly
  displayed by the browser in its raw (uncompiled) form while the application is loading.
 */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}


//override for walkme launcher and r&s specific stuff

.walkme-launcher {
  background: $badge-success !important;
  color: $white-base !important;
  z-index: 99999;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.l-header-bottom .revicon-trends-comparison {
  top: 0 !important;
}

.info-tile-topic .content {
  padding: 0 !important;
}

.r_social_buzz_mgmt {
    background: #fff;

}

.survey-editor .questions .editor-heading {
  color: #fff;
  background: #707074 !important;
  strong {
    font-family: Lato;
    font-weight: normal !important;
    font-size: 12px;
    text-transform: uppercase;
  }
}