[class^="revicon-"], [class*=" revicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'revicon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.revicon-BulletedList:before {
  content: "\e600";
}
.revicon-ButtonImageIcon:before {
  content: "\e601";
}
.revicon-ButtonIcon:before {
  content: "\e602";
}
.revicon-DblContentIcon:before {
  content: "\e603";
}
.revicon-uniE604:before {
  content: "\e604";
}
.revicon-DeleteIcon:before {
  content: "\e605";
}
.revicon-DividerIcon:before {
  content: "\e606";
}
.revicon-ImageButtonIcon:before {
  content: "\e607";
}
.revicon-ImageIcon:before {
  content: "\e608";
}
.revicon-SaveEmailTemplateIcon:before {
  content: "\e609";
}
.revicon-SendTestEmailIcon:before {
  content: "\e60a";
}
.revicon-TextIcon:before {
  content: "\e60b";
}
.revicon-compass-2:before {
  content: "\e60c";
}
.revicon-DblText:before {
  content: "\e60d";
}
.revicon-Social:before {
  content: "\e60e";
}
.revicon-task-checklist:before {
  content: "\e60f";
}
.revicon-phone-book-2:before {
  content: "\e610";
}
.revicon-smartphone-iphone:before {
  content: "\e611";
}
.revicon-help-circle:before {
  content: "\e612";
}
.revicon-email-send-1:before {
  content: "\e613";
}
.revicon-speed-gauge:before {
  content: "\e614";
}
.revicon-cog:before {
  content: "\e615";
}
.revicon-request-center:before {
  content: "\e616";
}
.revicon-revinate-logo:before {
  content: "\e617";
}
.revicon-dropdown:before {
  content: "\e618";
}
.revicon-fa-file-csv:before {
  content: "\e900";
}
.revicon-sentiment-analysis:before {
  content: "\e901";
}
.revicon-trends-comparison:before {
  content: "\e902";
}
.revicon-arrow-left:before {
  content: "\e621";
}
.revicon-arrow-right:before {
  content: "\e622";
}
.revicon-mobile:before {
  content: "\e623";
}
.revicon-saveTemplate:before {
  content: "\e624";
}
.revicon-sendTestMail:before {
  content: "\e625";
}
.revicon-tabletDesktop:before {
  content: "\e626";
}
.revicon-rev-logo-2017:before {
  content: "\e903";
}
.revicon-rev-mark-2017:before {
  content: "\e904";
}
.revicon-DblContentButton:before {
  content: "\e619";
}
.revicon-ColTableIcon:before {
  content: "\e61a";
}