.alert-page {
  text-align: center;
  min-height: 550px;
  img.alert-icon {
    margin: 60px 0 15px;
  }
  h1 {
    @extend .FontLatoLight;
    font-size: 50px;
    margin: 20px 0;
  }
  p {
    font-size: 17px;
    color: #6a6a6a;
  }
  textarea {
    margin-top: 20px;
  }
  .btn {
    margin: 20px 0;
  }
}