.btn {
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s;

  i:first-child {
    font-size: 1.4em;
    vertical-align: middle;
  }

  i.icon-blue {
    color: #3BA1F8 !important;
  }
}

.btn-header {
  border: none;
  color: lighten(#74797E,15%);
  padding: 8px 12px;
  &.active {
    i:first-child {
      color: #3CBFA2;
    }
    color: #ffffff;
  }
  &.btn-sm {
    margin-top: 3px;
  }
  &.btn-primary {
    background-color: darken($r_brand-primary,3%);
    &.active,
    &:hover,
    &:active {
      background-color: $r_brand-primary-dark;
    }
  }

  .btn-group.open & {
    background-color: darken($r_brand-primary,3%);
    &.active,
    &:hover,
    &:active {
      background-color: $r_brand-primary-dark;
    }
  }
}

.btn-header.dropdown-toggle {
  .btn-group.open & {
    background-color: darken($r_brand-primary,3%);
    &.active,
    &:hover,
    &:active {
      background-color: $r_brand-primary-dark;
    }
  }
}

.btn-rounded {
  border-radius: 40px;
}

.btn-circle {
  border-radius: 100%;
  width: 33px;
  height: 33px;
  padding: 0;
  i:first-child {
    font-size: 1.2em;
  }
  &.btn-sm {
    width: 28px;
    height: 28px;
    font-size: .85em;
  }
}