.btn {
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s;

  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: .1em;

  @extend .FontLatoBold;
  font-weight: bold;

  color: #444;
  &.btn-primary,
  &.btn-success,
  &.btn-danger,
  &.btn-warning,
  &.btn-info {
    color: white;
  }

  &.btn-default {
    background-color: #D8D8D8;
    &:hover {
      background-color: darken(#D8D8D8, 5%);
    }
  }

  &.btn-secondary {
    color: #FFF;
    background-color: $r_brand-secondary;
  }

  border-radius: 3px;
  padding: 10px 20px 8px;
  font-size: 12px;

  &.btn-xs, &.btn-sm, &.btn-lg {
    border-radius: 3px;
  }

  &.btn-xs {
    padding: 3px 7px 2px;
    font-size: 11px;
  }

  &.btn-sm {
    padding: 6px 10px 5px;
    font-size: 11px;
  }

  &.btn-lg {
    padding: 15px 40px 13px;
    font-size: 14px;
  }

  i:first-child {
    font-size: 1.4em;
    vertical-align: middle;
  }

  i.icon-blue {
    color: #3BA1F8 !important;
  }
  &.full-width {
    width: 100%;
  }
}

.btn-header {
  text-transform: none;
  letter-spacing: .01em;
  font-size: 14px;
  border: none;
  color: $r_brand-primary-lighter;
  padding: 7px 12px;

  @extend .FontLato;
  font-weight: normal;

  &.active {
    i:first-child {
      color: #3CBFA2;
    }
    color: #ffffff;
  }
  &.btn-sm {
    margin-top: 3px;
    padding: 7px 12px;
  }

  &.btn-primary {
    color: $r_brand-primary-lighter;
    background-color: $r_brand-primary-dark;
    &.active,
    &:hover,
    &:active {
      color: #ffffff;
      background-color: $r_brand-primary-darker;
    }
  }

  .btn-group.open & {
    background-color: darken($r_brand-primary, 5%);
    &.active,
    &:hover,
    &:active {
      background-color: $r_brand-primary-dark;
    }
  }
}

.btn-header.dropdown-toggle {
  .btn-group.open & {
    background-color: darken($r_brand-primary, 5%);
    &.active,
    &:hover,
    &:active {
      background-color: $r_brand-primary-dark;
    }
  }
}

.btn.btn-rounded {
  border-radius: 40px;
}

.btn.btn-circle {
  border-radius: 100%;
  width: 33px;
  height: 33px;
  padding: 0;
  i:first-child {
    font-size: 1.2em;
  }
  &.btn-sm {
    width: 28px;
    height: 28px;
    font-size: .85em;
  }
}

.btn.btn-link {
  padding: 0;
  color: #3BA1F8;
  text-transform: none;
  font: 300 14px/1.5 Lato !important;
  letter-spacing: inherit;
  &:hover {
    text-decoration: underline;
    color: darken(#3BA1F8,10%);
  }
}

.btn-group-bordered {
  border-radius: 3px;
  border: 2px $brand-primary solid;
  .btn-default {
    background-color: white;
    border-color: white;
    color: $brand-primary !important;
    &:hover {
      color: white !important;
      background-color: $brand-primary !important;
      border-color: $brand-primary;
    }
  }
  .btn-primary {
    border-color: $brand-primary !important;
    &:hover, &:focus, &.active, &:active {
      background-color: $brand_primary;
    }
  }
  .btn {
    &:last-child {
      border-bottom-left-radius: 2px;
      border-top-left-radius: 2px;
    }
    &:first-child {
      border-bottom-left-radius: 2px;
      border-top-left-radius: 2px;
    }

    .btn-group {
      &:last-child {
        .btn {
          border-bottom-left-radius: 2px;
          border-top-left-radius: 2px;
        }
      }
      &:first-child {
        .btn {
          border-bottom-left-radius: 2px;
          border-top-left-radius: 2px;
        }
      }
    }
  }
}