.btn {
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s;

  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: .1em;

  border-radius: 3px;
  padding: 10px 20px 8px;
  font-size: 12px;

  @extend .FontLatoBold;
  font-weight: bold;

  color: #444;
  &.btn-primary,
  &.btn-success,
  &.btn-danger,
  &.btn-warning,
  &.btn-info {
    color: white;
  }

  &.btn-default {
    background-color: #E6E6E6;
    &:hover {
      background-color: darken(#E6E6E6, 5%);
    }
    &[disabled=disabled] {
      &:hover {
        background-color: #E6E6E6;
      }
    }
  }

  &.btn-secondary {
    color: #2295F7;
    background-color: white;
    border-color: #2295F7;
    &:hover {
      background-color: #EBF5FE;
    }
    &[disabled=disabled] {
      &:hover {
        background-color: white;
      }
    }
  }

  &.btn-internal-primary {
    color: #ffffff;
    background-color: #6f5499;
    border-color: darken(#6f5499, 10%);
    &:hover {
      color: #ffffff;
      background-color: darken(#6f5499, 10%);
    }
  }

  &.btn-internal-secondary {
    color: #6f5499;
    background-color: #ffffff;
    border-color: #6f5499;
    &:hover {
      color: #ffffff;
      background-color: darken(#6f5499, 10%);
    }
  }

  &.btn-delete {
    color: #888;
    background-color: white;
    border-color: #888;
    &:hover {
      color: darken(#888, 10%);
      border-color: darken(#888, 10%);
    }
  }

  &.btn-xs, &.btn-sm, &.btn-lg {
    border-radius: 3px;
  }

  &.btn-xs {
    padding: 3px 7px 2px;
    font-size: 11px;
  }

  &.btn-sm {
    padding: 6px 10px 5px;
    font-size: 11px;
  }

  &.btn-lg {
    padding: 15px 40px 13px;
    font-size: 14px;
  }

  i:first-child {
    font-size: 1.4em;
    vertical-align: middle;
  }

  i.icon-blue {
    color: #3BA1F8 !important;
  }
  &.full-width {
    width: 100%;
  }
  &:focus, &:active, &.active, &:visited, &:enabled {
    outline: none !important;
  }
}

.btn-header {
  letter-spacing: .01em;
  font-size: 16px;
  border: none;
  //color: $r_brand-primary-lighter;
  color: #ccc;
  padding: 7px 12px;
  text-transform: capitalize;

  @extend .FontLato;
  font-weight: normal;

  &.active {
    i:first-child {
      color: #3CBFA2;
    }
    color: #ffffff;
  }
  &.btn-sm {
    margin-top: 3px;
    padding: 7px 12px;
  }

  &.btn-primary {
    //color: $r_brand-primary-lighter;
    color: #ccc;
    background-color: $r_brand-primary-dark;
    &.active,
    &:hover,
    &:active {
      color: #ffffff;
      background-color: $r_brand-primary-darker;
    }
  }

  .btn-group.open & {
    background-color: darken($r_brand-primary, 5%);
    &.active,
    &:hover,
    &:active {
      background-color: $r_brand-primary-dark;
    }
  }
  .badge {
    top: 2px;
  }
}

.btn-header.dropdown-toggle {
  .btn-group.open & {
    background-color: darken($r_brand-primary, 5%);
    &.active,
    &:hover,
    &:active {
      background-color: $r_brand-primary-dark;
    }
  }
}

.btn.btn-rounded {
  border-radius: 40px;
}

.btn.btn-circle {
  border-radius: 100%;
  width: 35px;
  height: 35px;
  padding: 0 0 4px;
  i:first-child {
    font-size: 1.2em;
  }
  &.btn-sm {
    width: 28px;
    height: 28px;
    font-size: .85em;
    padding: 3px;
  }
  &.btn-xs {
    width: 23px;
    height: 23px;
    line-height: 23px;
    text-align: center;
    i {
      margin-left: 2px;
      vertical-align: baseline;
    }
  }
  &.btn-default-secondary {
    background-color: white;
    border-color: #cccccc;
    &:hover {
      background-color: white;
      border-color: darken(#cccccc,10%);
    }
  }
}

.btn.btn-link {
  color: #2295F7;
  padding: 10px 10px 8px;
  &:hover {
    text-decoration: none;
    color: #0876D5;
  }
}

.btn-group-bordered {
  border-radius: 3px;
  border-color: $brand-primary;
  border-style: solid;
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 1px;
  border-right-width: 1px;
  .btn-default,
  .btn-default.dropdown-toggle {
    background-color: white;
    border-color: white;
    border-left-color: $brand-primary;
    border-right-color: $brand-primary;
    color: $brand-primary !important;
    &:hover, &.active, &:active, &:focus {
      color: white !important;
      background-color: $brand-primary !important;
      border-color: $brand-primary;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
  }
  .btn-primary {
    border-color: $brand-primary !important;
    &:hover, &:focus, &.active, &:active {
      background-color: $brand_primary;
    }
  }
  .btn {
    border-top-width: 0;
    border-bottom-width: 0;
    &:last-child {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
    &:first-child {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
  }
  .btn-group {
    &:last-child {
      .btn {
        &:first-child, &:last-child {
          border-bottom-right-radius: 0;
          border-top-right-radius: 0;
        }
      }
    }
    &:first-child {
      .btn {
        &:first-child, &:last-child {
          border-bottom-left-radius: 0;
          border-top-left-radius: 0;
        }
      }
    }
  }
  .dropdown-menu {
    margin-top: 2px;
    .divider {
      background-color: $gray-lighter;
    }
  }

  .btn.double-spaced,
  .btn-group.double-spaced {
    width: 1.5%;
  }
}

.bootstrap-select,
.nya-bs-select {
  .btn {
    &.btn-default {
      background: white;
      text-transform: none;
      padding: 5px 10px;
      border-radius: 4px;
      font-size: 14px;
      letter-spacing: normal;
      span {
        font-weight: normal;
        font-family: Lato;
      }
      &:hover, &.active, &:active, &:focus {
        background: white;
      }
    }
  }
}

.nya-bs-select {
  &.block {
    width: 100% !important;
  }
}

.nya-bs-option.selected {
  a {
    background-color: #EBF5FE;
    color: #3BA1F8;
  }
}

.toggle-group {
  .btn {
    &.btn-default.toggle-handle {
      background: white;
    }
  }
}

//actions buttons
.actions-buttons {
  .btn-group {
    width: 100%;
    .dropdown-menu {
      border-color: #9DD0FB;
      padding: 0;
      li {
        a {
          color: #2295F7;
          border-bottom: 1px solid  #CEE7FD;
          &.btn-internal-secondary {
            color: #6f5499;
            &:hover {
              color: #fff;
              background-color: darken(#6f5499, 10%);
            }
          }
        }
        &:last-child {
          a {
            border-bottom: none;
          }
        }
      }
    }
  }
  .btn {
    display: block;
    width: 100%;
    margin: 5px 0;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    @extend .btn-sm;

    &.btn-reply {
      margin-bottom: 35px;
    }
    i.button-icon {
      float: left;
    }
    &.btn-action-taken {
      border-color: #9CDFD0;
      color: #3CBFA2;
      background: #fff;
      &:hover {
        background-color: darken(#fff, 10%)
      }
    }
  }
  p {
    font-size: 12px;
    line-height: 1.33;
  }
}
.translate.dropdown {
  .dropdown-menu {
    border-color: #9DD0FB;
    padding: 0;
    li {
      a {
        color: #2295F7;
        border-bottom: 1px solid  #CEE7FD;
        &.btn-internal-secondary {
          color: #6f5499;
          &:hover {
            color: #fff;
            background-color: darken(#6f5499, 10%);
          }
        }
      }
      &:last-child {
        a {
          border-bottom: none;
        }
      }
    }
  }
}
