.datepicker.dropdown-menu,
.timepicker.dropdown-menu {
  .btn {
    padding: 5px;
    background: transparent;
    background-color: transparent;
    border: none;
    &.btn-default,
    &.btn-primary,
    &.btn-info,
    &.btn-today {
      border: none;
    }
  }
  .btn-today {
    color: $r_brand-secondary;
  }
  .btn-primary {
    color: $brand-primary;
  }
}