.dropdown-menu {
  background-color: #ffffff;
  margin-top: 1px;
  min-width: 100%;
  padding: 6px 0;
  border: 1px $gray-lighter solid;
  > li > a {
    position: relative;
    padding: 6px 12px;
    &.has-badge {
      padding-right: 45px;
    }
    &:hover,
    &:active,
    &:focus {
      background-color: $gray-lighter;
      outline: none;
    }
  }
  > li:last-child a {
    border-bottom: none;
  }
}


.l-header .dropdown-menu {
  background-color: $r_brand-primary-dark;
  border: none;
  margin-top: 1px; // overrides .nav-tabs .dropdown-menu
  > li > a {
    color: $r_brand-primary-light;
    &:hover,
    &:active,
    &:focus {
      color: #ffffff;
      background-color: $r_brand-primary-dark;
    }
    .badge {
      color: #ffffff;
      font-weight: bold;
      position: absolute;
      right: 12px;
      text-align: right;
    }
  }
  > li:last-child a {
    border-bottom: none;
  }
}


.l-header .primary-menu .primary-menu-item-icon .dropdown-menu {
  font-size: 14px;
  padding: 0;
  min-width: 120px;
  > li > a {
    border-bottom: $r_brand-primary 1px solid;
    padding: 6px 10px 3px;
  }
}