.dropdown-menu {
  background-color: #ffffff;
  margin-top: 0;
  min-width: 100%;
  max-width: 380px;
  padding: 6px 0;
  border: 1px $gray-lighter solid;
  > li > a {
    position: relative;
    padding: 6px 12px;
    &.has-badge {
      padding-right: 45px;
    }
    &:hover,
    &:active,
    &:focus {
      background-color: #EBF5FE;
      color: #3BA1F8;
      outline: none;
    }
  }
  > li.selected > a {
    background: #DBF0EB !important;
    color: #28A68A !important;
    &:hover,
    &:active,
    &:focus {
      background-color: #DBF0EB !important;
      color: #28A68A !important;
    }
  }
  > li:last-child a {
    border-bottom: none;
  }

  > li.divider {
    background-color: #202C37;
  }
}

.dropdown-menu.datepicker {
  min-width: 220px;
}


.l-header .dropdown-menu {
  background-color: $r_brand-primary-darker;
  border: none;
  border-top: 1px solid $r_brand-primary;
  margin-top: 0; // overrides .nav-tabs .dropdown-menu
  > li > a {
    color: $r_brand-primary-lighter;
    &:hover,
    &:active,
    &:focus {
      color: #ffffff;
      background-color: $r_brand-primary-darker;
    }
    .badge {
      color: #ffffff;
      font-weight: bold;
      position: absolute;
      right: 12px;
      text-align: right;
    }
  }
  > li.active > a {
    color: #ffffff;
    background-color: $r_brand-primary-darker;
    font-weight: bold;
  }
  > li:last-child a {
    border-bottom: none;
  }
}
.l-header-bottom .dropdown-menu {
  > li > a {
    text-transform: capitalize;
  }
}


.l-header .primary-menu .primary-menu-item-icon .dropdown-menu {
  font-size: 14px;
  padding: 0;
  min-width: 120px;
  > li > a {
    border-bottom: $r_brand-primary 1px solid;
    padding: 6px 10px 3px;
  }
}

.revicon-dropdown {
  vertical-align: middle;
  font-size: .7em;
  font-weight: bolder;
}

ul.multiselect-container {
  li {
    input[type="checkbox"] {
      position: relative;
      margin-left: 0;
    }
  }
}
