.main-filter-bar {
  background: #EDF3F8;
  border-top: 1px solid #C8DBEE;
  border-bottom: 1px solid #C8DBEE;
  padding: 10px 0;
  margin-top: 10px;
  margin-bottom: 30px;
  .form-group {
    display: inline-block;
    width: auto;
    vertical-align: top;
    padding-right: 5px;
    margin-bottom: 10px;
    label {
      font-size: 11px;
      font-weight: bold;
      text-transform: uppercase;
      color: #7A8CA1;
    }
    .form-control, select {
      height: 28px;
      padding: 6px 10px;
      &.bootstrap-select {
        padding: 0;
        // override menutext in chrome
        &.btn-group .dropdown-menu li a {
          color: inherit !important;
          &:hover {
            color: #3BA1F8 !important;
          }
        }
      }
    }
    .bootstrap-select .btn {
      height: 28px;
      padding-top: 6px;
      padding-bottom: 6px;
      line-height: 1;
    }
    &.apply-filters {
      position: absolute;
      bottom: 0;
      right: 10px;
      .btn.btn-sm {
        height: 28px;
        padding: 6px 12px;
      }
    }
    .custom-selector {
      .custom-selector-list {
        li>input[type="text"] {
          height: 28px;
        }
      }
    }
  }
}