.main-filter-bar {
  background: #EDF3F8;
  border-top: 1px solid #C8DBEE;
  border-bottom: 1px solid #C8DBEE;
  padding: 10px 0 0;
  margin-top: 25px;
  .form-group {
    display: inline-block;
    width: auto;
    padding-right: 5px;
    label {
      font-size: 11px;
      font-weight: bold;
      text-transform: uppercase;
      color: #7A8CA1;
    }
    select.form-control {
      -webkit-appearance: menulist;
    }
    .form-control, select {
      height: 28px;
      padding: 6px 10px;
      &.bootstrap-select {
        padding: 0;
        // override menutext in chrome
        &.btn-group .dropdown-menu li a {
          color: inherit !important;
        }
      }
    }
    .bootstrap-select .btn {
      height: 28px;
      padding-top: 6px;
      padding-bottom: 6px;
      line-height: 1;
    }
    &.apply-filters {
      padding-top: 24px;
      .btn.btn-sm {
        height: 28px;
        padding: 6px 12px;
      }
    }
  }
}