.search-form {
  input[type=text] {
    border-radius: 25px 0 0 25px;
  }
  .search-btn {
    float: none;
    margin-top: 0;
    border-radius: 0 25px 25px 0;
    padding-left: 10px;
    padding-right: 10px;
  }
}


form {
  .row, .form-group {
    margin-bottom: 15px;
    .fa {
      position: absolute;
      top: 11px;
      left: 22px;
      color: #4c4c4c;
    }
    input[type="text"], input[type="email"], input[type="password"] {
      width: 100%;
      &.with-icon {
        padding-left: 27px;
      }
    }
  }
}

// Bootstrap Select Styles
.bootstrap-select {
  .dropdown-menu {
    li > a:hover, li > a.active, li > a:active, li.selected > a  {
      background-color: #EBF5FE;
      color: #3BA1F8;
    }
  }
}

label {
  @extend .FontLatoBold;
  .checkbox &,
  .radio & {
    @extend .FontLato;
  }
}

.help-block {
  color: #999999;
  font-style: italic;
  font-size: 12px;
}

select.form-control {
  -webkit-appearance: menulist;
}