.label {
  &.on-duty {
    background-color: $brand-success;
  }
  &.off-duty {
    background-color: $brand-danger;
  }
  &.on-property {
    background-color: $r_brand-tertiary;
  }
  &.pre-stay {
    background-color: $r_brand-secondary;
  }
  &.post-stay {
    background-color: #9B9B9B;
  }
}