.nav-pills-terciary {
  border-bottom: 2px #F3F3F4 solid;
  clear: both;
  float: none !important;
  li {
    a {
      color: #777;
      position: relative;
      background-color: transparent;
      &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 100%;
        height: 4px;
        background-color: transparent;
      }
    }

    /* reset bootstrap default styles */
    &.active, &.disabled, &:hover, &.active:hover, &:active, &:visited, &:focus {
      a {
        color: #777;
        background-color: transparent !important;
        &:hover {
          color: #777;
        }
      }
    }

    &.active {
      a {
        color: #444;
        @extend .FontLatoBold;
        &:hover {
          color: #444 !important;
        }
        &:after {
          background-color: $r-brand-secondary;
        }
      }
    }
    a {
      &:hover {
        color: #444 !important;
      }
    }
    &.disabled {
      a {
        color: #ccc;
        &:hover {
          color: #ccc !important;
        }
      }
    }
  }

}