ul.global-actions-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    display: inline-block;
    font-weight: bold;
    letter-spacing: 0;
    margin: 0 0 0 5px !important;
    padding: 0;
    i {
      display: inline-block;
      margin: 0 !important;
      padding: 0 !important;
      letter-spacing: 0 !important;
    }
    a {
      color: #333;
      margin: 0;
      padding: 0;
      &:hover {
        color: #3BA1F8;
      }
    }
    &:hover {
      cursor: pointer;
      color: #3BA1F8;
    }
  }
}