.panel {
  .panel-heading {
    padding: 15px 20px;
    @extend .clearfix;
    .panel-title {
      float: left;
      font-size: 1.5em;
      line-height: 1.5;
      @extend .FontLatoBold;
      small {
        display: block;
        @extend .FontLatoLight;
      }
    }
    .hidden-link {
      font-size: .75em;
      span {  color: white;  }
      &:hover {
        color: $brand-primary;
        text-decoration: none;
      }
    }
    .btn {
      float: right;
      margin-top: 3px;
    }
  }
  .panel-body.panel-body-table {
    padding: 0 !important;
  }
  .panel-footer {
    padding: 15px 20px;
    .pagination {
      margin: 0 !important;
    }
  }
}