/* .logo-sprite is extended by .logo */
.primary-menu.nav.nav-tabs .logo-sprite {
  background-image: url('/css_images/primary-menu-logo.png');
}

@media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  /* .logo-sprite is extended by .logo */
  .primary-menu.nav.nav-tabs .logo-sprite {
    background-image: url('/css_images/primary-menu-logo-retina.png');
    background-size: 85px 13px;
  }
}

.primary-menu.nav.nav-tabs .logo {
  @extend .logo-sprite;
  width: 85px;
  height: 13px;
  background-position: 0 0;
  background-color: transparent;
  text-indent: -1000px;
  overflow: hidden;
  margin: 13px 20px 0 0;
  @media (min-width: $screen-sm-min) {
    margin: 6px 20px 0 0;
  }
  display: inline-block;
}

.primary-menu.nav.nav-tabs {
  font-size: 14px;
  text-transform: uppercase;
  border-bottom: none;
}

.primary-menu.nav.nav-tabs > li {
  margin-bottom: 0;
  position: relative;
  &:focus {
    outline: none;
  }
  &.primary-menu-item-bordered {
    border-left: 1px $r_brand-primary solid;
    padding: 0 10px;
  }
  &.primary-menu-item-text,
  &.primary-menu-item-label {
    height: 26px;
    color: $r_brand-primary-light;
  }
  &.primary-menu-item-text {
    line-height: 30px;
  }
  &.primary-menu-item-label {
    line-height: 26px;
    padding: 0 0 0 10px !important;
    a {
      padding: 0;
      &:hover {
        background-color: $r_brand-primary-darker;
      }
      button {
        padding: 0px 5px;
        line-height: 1.4;
        margin-top: -4px;
      }
    }
  }
  &.primary-menu-item-icon {
    @media (min-width: $screen-sm-min) {
      max-width: 36px;
    }
  }
  &.prop-selector {
    max-width: 285px;
    a {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      i {
        padding: 10px 5px;
      }
    }
    &.primary-menu-item-text {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}

.primary-menu.nav.nav-tabs > li > a {
  cursor: default;
  margin-right: 0;
  height: 40px;
  line-height: 50px;
  @media (min-width: $screen-sm-min) {
    height: 26px;
    line-height: 30px;
  }
  color: $r_brand-primary-light;
  border: none;
  border-radius: 0;
  padding: 0 20px;
  letter-spacing: .2em;
  &:active,
  &:focus {
    background-color: transparent;
  }

  &:hover {
    color: #ffffff;
    background-color: $r_brand-primary;
  }
  &.highlight,
  &.active {
    color: #ffffff;
  }
  i {
    font-size: .65em;
    &.text-danger {
      color: $brand-danger;
    }
  }
  &.primary-menu-item-icon {
    i {
      font-size: 1.4em;
      @media (min-width: $screen-sm-min) {
        font-size: 1.2em;
        line-height: 1.5em;
      }
    }
    &.current-active-page {
      color: #3CBFA2;
    }
  }
  &.primary-menu-item-bordered {
    padding: 0;
    @media (min-width: $screen-sm-min) {
      border-left: 1px $r_brand-primary solid;
      padding: 0 10px;
    }
    &:hover,
    &:active,
    &:focus {
      color: #ffffff;
      background-color: $r_brand-primary-darker;
    }
  }
  &.primary-menu-item-logo {
    &:hover,
    &:focus {
      color: transparent;
      background-color: transparent;
    }
  }
}

.primary-menu.nav.nav-tabs > li.open > a,
.primary-menu.nav.nav-tabs > li.open > a:hover,
.primary-menu.nav.nav-tabs > li.open > a:focus,
.primary-menu.nav.nav-tabs > li.open > a:active {
  color: #ffffff;
  background-color: transparent;
}

.primary-menu.nav.nav-tabs > li.active > a,
.primary-menu.nav.nav-tabs > li.active > a:hover {
  background-color: $r_brand-primary;
  color: #ffffff;
  border: none;
  &.primary-menu-item-logo {
    background-color: transparent;
  }
}

.primary-menu.nav.nav-tabs > li.current-active-page > a,
.primary-menu.nav.nav-tabs > li.current-active-page.active > a,
.primary-menu.nav.nav-tabs > li.current-active-page.active > a:hover,
.primary-menu.nav.nav-tabs > li.current-active-page.active > a:focus,
.primary-menu.nav.nav-tabs > li.current-active-page.active > a:active {
  color: #FFFFFF;
  background-color: $r_brand-primary;
  border: none;
  &.primary-menu-item-logo {
    background-color: transparent;
  }
}

.primary-menu.nav.nav-tabs > li .label {
  height: 16px;
  font-size: 75%;
  line-height: 18px;
  display: inline-block;
  padding: 0 5px;
  margin-top: 5px;
}

.primary-menu.nav.nav-tabs > li .signal {
  position: absolute;
  top: 9px;
  right: 5px;
  font-size: .65em;
}

.primary-menu.nav.nav-tabs button {
  text-transform: uppercase;
  letter-spacing: .12em;
}

@media (max-width: $screen-xs-max) {
  .primary-menu.nav.nav-tabs > li {
    > a {
      overflow: hidden;
    }
    .signal {
      right: inherit;
      left: 3px;
    }
  }
}