.property-select-item {
  position: relative;
  background: #f6fbfe;
  border-radius: 3px;
  border: 1px solid #d8d8d8;
  padding: 30px 10px 0;
  margin: 15px;
  text-align: center;
  img {
    margin: 0 auto 10px;
  }
  span.is-group-account {
    position: absolute;
    top: 5px;
    left: 0;
    width: 100%;
    display: block;
    color: lighten(#444, 20%);
  }
  div.property-select-item-logo.no-logo {
    width: 65px;
    opacity: 0.3;
  }
  .property-select-item-title {
    color: #444;
    @extend .FontLatoBold;
    span {
      display: block;
      @extend .FontLato;
      font-size: 0.7em;
      line-height: 2;
    }
  }
}
form.prop-search {
  input[type=text] {
    border-radius: 25px 0 0 25px;
  }
  .fetch-accounts {
    float: none;
    margin-top: 0;
    border-radius: 0 25px 25px 0;
    padding-left: 10px;
    padding-right: 10px;
  }
}
