.table {
  .panel-body-table & {
    margin-bottom: 0 !important;
    > thead > tr > th {
      padding: 5px;
    }
    > thead > tr > th:first-child,
    > tbody > tr > td:first-child {
      padding-left: 20px;
    }
    > thead > tr > th:last-child
    > tbody > tr > td:last-child {
      padding-right: 20px;
    }
  }
  &.table-striped > thead > tr > th {
    @extend .FontLatoBold;
    background-color: white;
    border-bottom: 1px solid #ddd !important;
  }
  &.table-hover > tbody > tr:hover {
    background: #E0EFFD;
  }
  > thead > tr > th {
    .fa-sort {
      position: relative;
      &.fa-sort-desc {
        top: -2px;
      }
      &.fa-sort-asc {
        top: 4px;
      }
    }
  }
  tbody > tr.subhead > td {
    font-family: LatoBold;
  }
  &.upload-table {
    tbody > tr > td {
      span {
        word-break: break-word;
      }
    }
  }
  &.table-vert-middle {
    tbody > tr > td {
      vertical-align: middle;
    }
  }
  &.table-bordered {
    > thead > tr > th:first-child {
      border-top-left-radius: 4px;
    }
    > thead > tr > th:last-child {
      border-top-right-radius: 4px;
    }
    > tbody > tr:last-child {
      > td:first-child {
        border-bottom-left-radius: 4px;
      }
      > td:last-child {
        border-bottom-right-radius: 4px;
      }
    }
  }
}