.table {
  .panel-body-table & {
    margin-bottom: 0 !important;
    > thead > tr > th,
    > tbody > tr > td {
      padding: 8px 20px;
    }
  }
  &.table-striped > thead > tr > th {
    @extend .FontLatoBold;
    border-bottom: 1px solid #ddd !important;
  }
}