.custom-selector {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .contact-autocomplete {
    ul {
      background: #ccc;
    }
    li {
      &:hover {
        background: #fff;
      }
    }
  }
}