---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


@font-face {
  font-family: 'revicon';
  src:  url('../../fonts/revicon.eot?kp1haa');
  src:  url('../../fonts/revicon.eot?kp1haa#iefix') format('embedded-opentype'),
  url('../../fonts/revicon.ttf?kp1haa') format('truetype'),
  url('../../fonts/revicon.woff?kp1haa') format('woff'),
  url('../../fonts/revicon.svg?kp1haa#revicon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="revicon-"], [class*=" revicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'revicon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.revicon-ContainersImageTextButton:before {
  content: "\e900";
}
.revicon-ContainersTextButton:before {
  content: "\e901";
}
.revicon-ButtonImageIcon2:before {
  content: "\e902";
}
.revicon-HTMLIcon:before {
  content: "\e903";
}
.revicon-ImageButtonIcon2:before {
  content: "\e904";
}
.revicon-ImageImageIcon:before {
  content: "\e905";
}
.revicon-ImageTextButtonIcon:before {
  content: "\e906";
}
.revicon-ImageTextIcon:before {
  content: "\e907";
}
.revicon-TextButtonIcon:before {
  content: "\e908";
}
.revicon-TextButtonImageIcon:before {
  content: "\e909";
}
.revicon-TextButtonStackedIcon:before {
  content: "\e90a";
}
.revicon-TextImageIcon:before {
  content: "\e90b";
}
.revicon-TextTextIcon:before {
  content: "\e90c";
}
.revicon-BulletedList:before {
  content: "\e600";
}
.revicon-ButtonImageIcon:before {
  content: "\e601";
}
.revicon-ButtonIcon:before {
  content: "\e602";
}
.revicon-DblContentIcon:before {
  content: "\e603";
}
.revicon-uniE604:before {
  content: "\e604";
}
.revicon-DeleteIcon:before {
  content: "\e605";
}
.revicon-DividerIcon:before {
  content: "\e606";
}
.revicon-ImageButtonIcon:before {
  content: "\e607";
}
.revicon-ImageIcon:before {
  content: "\e608";
}
.revicon-SaveEmailTemplateIcon:before {
  content: "\e609";
}
.revicon-SendTestEmailIcon:before {
  content: "\e60a";
}
.revicon-TextIcon:before {
  content: "\e60b";
}
.revicon-compass-2:before {
  content: "\e60c";
}
.revicon-DblText:before {
  content: "\e60d";
}
.revicon-Social:before {
  content: "\e60e";
}
.revicon-task-checklist:before {
  content: "\e60f";
}
.revicon-phone-book-2:before {
  content: "\e610";
}
.revicon-smartphone-iphone:before {
  content: "\e611";
}
.revicon-help-circle:before {
  content: "\e612";
}
.revicon-email-send-1:before {
  content: "\e613";
}
.revicon-speed-gauge:before {
  content: "\e614";
}
.revicon-cog:before {
  content: "\e615";
}
.revicon-request-center:before {
  content: "\e616";
}
.revicon-revinate-logo:before {
  content: "\e617";
}
.revicon-dropdown:before {
  content: "\e618";
}
.revicon-DblContentButton:before {
  content: "\e619";
}
.revicon-ColTableIcon:before {
  content: "\e61a";
}
.revicon-arrow-left:before {
  content: "\e621";
}
.revicon-arrow-right:before {
  content: "\e622";
}
.revicon-mobile:before {
  content: "\e623";
}
.revicon-saveTemplate:before {
  content: "\e624";
}
.revicon-sendTestMail:before {
  content: "\e625";
}
.revicon-tabletDesktop:before {
  content: "\e626";
}
.revicon-fa-file-csv:before {
  content: "\e90d";
}
.revicon-sentiment-analysis:before {
  content: "\e90e";
}
.revicon-trends-comparison:before {
  content: "\e90f";
}
.revicon-rev-logo-2017:before {
  content: "\e910";
}
.revicon-rev-mark-2017:before {
  content: "\e911";
}
