.datepicker.dropdown-menu,
.timepicker.dropdown-menu {
  //color: $gray;
  .btn {
    padding: 5px 10px;
    background: transparent;
    border: none;
    font-weight: 400;
    border:1px solid transparent;
    span {
      color: $gray-dark;
    }
    &.btn-default,
    &.btn-primary,
    &.btn-info,
    &.btn-today {
      color: $gray-base !important;
      //border: none;
    }
    .text-muted {
      color: #AAA;
    }
    &:hover,
    &:active,
    &:focus {
      background-color: $r_brand-primary;
      border-color: $r_brand-primary;
      color: $white-base !important;
      transform: translateY(0);
      box-shadow: none;
      .text-muted {
        color: $white-base;
      }
      span {
        color: $white-base;
      }
    }
  }
  .btn-today {
    font-weight: 700;
    span {
      color: $gray-base;
    }
  }
  .btn-primary {
    color: $white-base !important;
    background: $r_brand-primary;
    span {
      color: $white-base !important;
    }
    &:hover,
    &:active,
    &:focus {
      background: $r_brand-primary;
       color: $white-base !important;
    }
  }
}