.dropdown-menu {
  background-color: #ffffff;
  margin-top: 0;
  min-width: 100%;
  max-width: 380px;
  padding: 4px 0;
  border: 1px solid rgba($r_brand-primary, 0.1);
  border-radius:2px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
  font-family: 'Open Sans';
  > li > a {
    position: relative;
    padding: 6px 12px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    &.has-badge {
      padding-right: 45px;
    }
    &.active,
    &:hover,
    &:active,
    &:focus {
      background-color: lighten($r_brand-primary, 67%);
      color: $r_brand-primary;
      outline: none;
    }
  }
  > li.selected > a {
    background: lighten($r_brand-primary, 67%) !important;
    color: $r_brand-primary !important;
    &:hover,
    &:active,
    &:focus {
      background-color:lighten($r_brand-primary, 67%) !important;
      color: $r_brand-primary !important;
    }
  }
  > li:last-child a {
    border-bottom: none;
  }

  > li.divider {
    background-color: #EEE;
  }
  > li.dropdown-header {
    color: $gray-light;
    text-transform: uppercase;
  }
}

.dropdown-menu.datepicker {
  min-width: 220px;
}

.dropdown.hover-dropdown:hover {
  > .dropdown-menu {
    display: block;
  }
}


.l-header .dropdown-menu {
  background-color: $white-base;
  color: $gray;

  //border-top: 1px solid $r_brand-primary;
  margin-top: 0; // overrides .nav-tabs .dropdown-menu
  > li.active > a {
    color: $r_brand-primary;
    background-color: $white-base;
    font-weight: normal;
  }
  > li:last-child a {
    //border-bottom: none;
  }
  > li > a {
    color: $r_brand-primary;
    border:1px solid transparent;
    &:hover,
    &:active,
    &:focus {
      border:1px solid lighten($r_brand-primary, 62%);
      //color: $gray;
      font-weight: normal;
      background-color: lighten($r_brand-primary, 67%);
    }
    .badge {
      color: $gray;
      font-weight: bold;
      position: absolute;
      top: 2px;
      right: 4px;
      text-align: right;
    }
  }
  
}


.l-header-bottom .dropdown-menu {
  > li > a {
    text-transform: capitalize;
    font-weight: 400;
    font-size: 0.85em;
  }
}


.l-header .primary-menu .primary-menu-item-icon .dropdown-menu {
  font-size: 13px;
  //padding: 0;
  min-width: 120px;
  margin-top: -1px;
  > li > a {
    //border-bottom: $r_brand-primary 1px solid;
    //padding: 6px 10px 3px;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    font-size: 13px;
  }
}

.revicon-dropdown {
  vertical-align: middle;
  font-size: .7em;
  font-weight: bolder;
}

ul.multiselect-container {
  li {
    input[type="checkbox"] {
      position: relative;
      margin-left: 0;
    }
  }
}

.max-height .dropdown-menu {
  max-height: 250px !important;
}

.btn-group.open .dropdown-toggle {
  box-shadow: none;
}

.bootstrap-select.btn-group .dropdown-menu {
  z-index: 9999;
}
