.modal-footer {
  .btn {
    float: right;
    margin: 0 0 0 15px;
    &.btn-delete {
      float: left;
      margin-left: 0;
    }
  }
}

.modal.modal-overflow {
  .modal-body {
    max-height: 550px;
    overflow: scroll;
  }
}

//overlay fix for old modals

#overlay {
  opacity: 0.8 !important;
  z-index: 9999!important;
}