.nav-pills-numbered {
  text-align: center;
  li {
    float: none;
    display: table-cell;
    position: relative;
    font-family: Lato;
    text-transform: uppercase;
    color: #888888;
    font-size: 12px;
    letter-spacing: .1em;
    &:first-child {
      &:before {
        width: 0;
        background-color: transparent;
      }
    }
    a {
      background-color: transparent !important;
      display: inline-block;
      color: $r_brand_primary;
      -webkit-transition: all .2s;
      -moz-transition: all .2s;
      transition: all .2s;
      &:hover, &:focus, &:active {
        background-color: transparent !important;
        color: darken($r_brand-primary, 10%);
        transform: translateY(-2px);
      }
    }
    .fa {
      font-size: 20px;
      position: relative;
      top: 9px;
      left: 0;
      float: left;
      color: lighten($r_brand-primary, 60%);
    }
    &.active a {
      font-family: LatoBlack;
      background-color: transparent !important;
      color: #000;
      cursor: default;
      &:hover, &:active, &:focus {
        color: #000 !important;
        transform: translateY(0px);
      }
    }
    &.disabled a {
        color: #ccc;
      &:hover, &:active, &:focus {
        color: #ccc;
        transform: translateY(0px);
      }
    }
  }
}

$nav-pills-numbered-index-size: 30px;

.nav-pills-numbered-index {
  display: none !important;
}
