ul.global-actions-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    display: block;
    float: right;
    font-weight: bold;
    letter-spacing: 0;
    margin: 0 0 0 5px !important;
    padding: 0;
    i {
      display: inline-block;
      padding: 0 !important;
      letter-spacing: 0 !important;
    }
    a {
      color: $r_brand-primary;
      margin: 0;
      padding: 0;
      &:hover {
        color: $r_brand-primary;
      }
    }
    &:hover {
      cursor: pointer;
      color: $r_brand-primary;
    }
    &.btn.btn-circle.btn-default-secondary {
      border-color: transparent;
      background-color: transparent;
      padding: 4px;
      &:hover {
        border-color: $r_brand-primary;
        a {
          color: $r_brand-primary;
        }
      }
    }
    &.disabled {
      &:hover {
        cursor: not-allowed;
        color: #ccc;
        a {
          color: #ccc;
          &:hover {
            color: #ccc;
            cursor: not-allowed;
          }
        }
        i {
          color: #ccc;
          &:hover {
            color: #ccc;
            cursor: not-allowed;
          }
        }
      }
      &.btn.btn-circle.btn-default-secondary {
        &:hover {
          border-color: #ccc;
          a {
            color: #ccc;
          }
        }
      }
    }
  }
}
