.nav-pills-terciary,
.nav-pills-tertiary {
  border-bottom: 1px $table-border-color solid;
  clear: both;
  float: none !important;
  letter-spacing: 0.015em;
  > li > a:focus, > li > a:hover {
    background: transparent !important;
  }
  li {
    a {
      text-transform: capitalize;
      color: $r_brand_primary;
      position: relative;
      background-color: transparent;
      -webkit-transition: all .2s;
      -moz-transition: all .2s;
      transition: all .2s;
      &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0px;
        width: 100%;
        height: 2px;
        background-color: transparent;
      }
    }

    /* reset bootstrap default styles */
    &.active, &.disabled, &:hover, &.active:hover, &:active, &:visited, &:focus {
      a {
        color: #777;
        background-color: transparent !important;
        &:hover, &:focus {
          color: #777;
          transform: translateY(-2px);

        }
      }
    }

    &.active {
      a {
        color: #444;
        @extend .FontLatoBold;
        &:hover {
          color: #444 !important;
          transform: translateY(0px) !important;
        }
        &:after {
          background-color: $r-brand-secondary;
        }
      }
    }
    a {
      &:hover {
        color: #444 !important;
      }
    }
    &.disabled {
     font-family: 'Lato';
      a {
        color: #ccc;
        &:hover {
          color: #ccc !important;
          transform: translateY(0px);

        }
      }
    }
  }

}
