.nav-pills-terciary,
.nav-pills-tertiary {
  clear: both;
  float: none !important;
  letter-spacing: 0.015em;
  font-family: Lato, sans-serif;
  font-weight: normal;
  margin-bottom: 10px;
  .nav-pills {
    margin-bottom: 10px;
  }
  > ul > li > a:focus, > li > a:hover {
    background: transparent !important;
  }
  > ul > li, > li {
    padding-bottom: 0 !important;
    margin-right: 8px;
    > a {
      text-transform: uppercase;
      color: #666;
      font-size: 11px;
      letter-spacing: 0.04em;
      border: 1px solid transparent;
      -webkit-transition: all .2s;
      -moz-transition: all .2s;
      transition: all .2s;
      padding: 8px 20px;
      border-radius: 20px;
    }

    /* reset bootstrap default styles */
    &.active, &.disabled, &:hover, &.active:hover, &:active, &:visited, &:focus {
      a {
        background-color: transparent !important;
        font-size: 11px;
        border-radius: 16px;
        letter-spacing: 0.04em;
        color: #FFF;
        outline: none;
        &:hover, &:focus {
          transform: unset;
          outline: none;
        }
      }
    }
    a {
      &:hover {
        color: #666 !important;
        border-radius: 16px;
        border: 1px solid #ccc;
        background-color: #fff !important;
      }
    }
    &.active {
      a {
        color: #fff !important;
        text-transform: uppercase;
        background-color: #444 !important;
        border: 1px solid #444;
        border-radius: 16px;
        &:hover, &.active:hover, &:active, &:visited, &:focus {
          background-color: #444 !important;
        }
      }
    }
    &.disabled {
     font-family: 'Lato';
      a {
        color: #ccc;
        &:hover {
          color: #ccc !important;
          transform: translateY(0px);

        }
      }
    }
  }

}
