.prop-selector, .settings-menu {
  > ul {
    max-width: 250px;
    letter-spacing: 0.5px;
    margin-top: -1px !important;
    margin-right: -1px;
    li {
      padding: 0;
      ul {
        margin: 0;
        padding: 0;
        li {
          list-style-type: none;
          padding: 0 !important;
          margin: 0;
          border:1px solid transparent;
          -webkit-transition: all .2s;
             -moz-transition: all .2s;
                  transition: all .2s;
          &:hover {
            background-color: lighten($r_brand-primary, 67%) ;
            border:1px solid lighten($r_brand-primary, 62%) !important;
          }
          a {
            padding: 6px 16px;
            display: block;
            overflow-x: hidden;
            text-overflow: ellipsis;
            text-transform: Capitalize;
            font-family: 'Open Sans';
            font-size: 13px;
            color: $r_brand-primary !important;
            //border-bottom: 1px solid rgba(0, 78, 155, 0.15);
            &:hover {
              color: $gray !important;
              text-decoration: none;
            }
          }
        }
      }
      &.account-switcher {
        ul {
          input {
            margin: 4px 0 4px 8px;
            //height: 26px;
            display: inline-block;
          }
        }
        div.contact-autocomplete {
          div, li {
            color: $gray;
            padding: 8px 16px !important;
            text-transform: capitalize;
            font-family: Lato;
            font-size: 13px;
          }
          li:hover {
            color: $gray-darker;
            cursor: pointer;
          }
        }
      }
      &.prop-input {
        padding: 0 10px;
        width: 92%;
        &:hover {
          background-color: transparent !important;
          border-color: transparent !important;
        }
      }
      h4 {
        color: $gray-dark;
        padding: 0 10px;
        font-size: 1em;
        font-weight: 600;
      }
      &.recently-accessed {
        padding: 0;
      }
      &.full-account-list {
        padding: 0;
        margin: 0;
        a {
          color: $r_brand-primary !important;
          text-transform: capitalize;
          font-weight: 600;
          &:hover {
            color: $gray !important;
            font-weight: 600;
          }
        }
      }
    }
  }
}
